<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="max-age=31536000, public" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portfolio: Home page</title>
		<meta name="description" content="pure javascript tribute page to leonardo da vinci" />
		<meta name="keywords" content="javascript, tribute, da vinci, leonardo da vinci" />
		<meta name="author" content="joel (piazza) ward" />
		<meta name="robots" content="index, nofollow" />
		<meta name="revisit-after" content="3 month" />		
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" async/>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>  
  <body>
    <noscript>No JavaScript detected!</noscript>
    <div>
        <h1>Joel (Piazza) Ward</h1>
        <p><a href='/davinci'>Da Vinci</a></p>
        <p><a href='/react/weatherstack'>Weatherstack</a></p>
        <p><a href='/react/drum_machine'>The Drum Machine 2020</a></p>
        <p><a href='/react/night_owls'>Night Owls</a></p>
        <div id="certifications">
        <ol>
          <li>Responsive Web Design Certification</li>
          <li>JavaScript Algorithms and Data Structure Certification</li>
          <li>Front End Libraries Certification</li>
            <ul>
              <li>Bootstrap</li>
              <li>jQuery</li>
              <li>SASS</li>
              <li>React</li>
              <li>Redux</li>
              <li>React and Redux</li>
            </ul>
          <li>Data Visualization Certification</li>
          <li>APIs and Microservices Certification</li>
          <li>Information Security and Quality Assurance Certification</li>
        </ol>
      </div>
    </div>
  </body>
</html>

